body {
	font-family: Arial, sans-serif;
}

p.count-container {
	text-align: center;
}

table {
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

td {
	border: 1px solid black;
}

thead td {
	font-size: 1.25em;
}
